# Copyright 2014 Corbin Haughawout
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[loggers]
keys: root

[handlers]
keys: defaultFileHandler,defaultMailHandler,

[formatters]
keys: default,mailFormat

[logger_root]
level: info
handlers: defaultFileHander

[handler_defaultFileHandler]
class: FileHandler
level: NOTSET
formatter: default
args: ('do_spdx.log', 'a')

[formatter_default]
format:

[handler_defaultMailHandler]
class: SMTPHandler
level: error
format: mailFormat
args: ('localhost', 'from@abc', ['user1@abc', 'user2@abc'], 'Subject')

[formatter_mailFormat]
format: %(asctime)s Error: %(message)s


